{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block heading %}{% endblock %}
{% block content %}

Hi! This is <a href="https://www.alexmolas.com">@alexmolas</a> Welcome to my side project. I've been working these last months as a search data scientist at Wallapop, and I've been learning a lot about the topic.
In this project I wanted to put into practice some of the theory I learned these weeks. In particular

<br>
<br>

<li>How to download a collection of documents using python `async` code.</li>
<li>How to create an inverse index.</li>
<li>How to populate an inverse index for a catalog of documents.</li>
<li>How to compute BM25 given a query and a catalog.</li>
<li>How to put everything together and deploy it using FastAPI.</li>

<br>

This is not meant as a production ready project. This project exists only to showcase some of the things I learnt during my first months at Wallapop. 

{% endblock %}